/*  Pricing tabs !!!! */

.container-2 {
  position: absolute;
  top: 2867px;
  left: 0px;
  height: 883px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #6696e2;
  margin-bottom: 0 auto;
}
.top {
  position: absolute;
  top: 97px;
  width: 460px;
  height: 44px;
  color: white;
}
.top h1 {
  padding-left: 15px;
  padding-bottom: 21px;
  font-size: 3em;
}
.top p {
  padding-top: 26px;
  width: 443px;
}
.green {
  position: absolute;
  left: 140px;
  width: 64px;
  height: 2px;
  background: #41d395;
}
.card {
  background-color: white;
  width: 400px;
  margin: 50px;
  border-radius: 5px;
  margin-top: 300px;
}
#virsus {
  justify-content: center;
  flex-direction: column;
  display: flex;
  border-radius: 5px 5px 0px 0px;
  background-color: black;
}
.card h2,
.card p {
  padding: 5px;
  color: white;
  text-align: center;
  margin-top: 20px;
  font-size: 1.8em;
}
.card h4 {
  font-size: 14px;
  color: white;
  text-align: center;
  padding-bottom: 15px;
  opacity: 0.5;
}
.card p span {
  font-size: 3em;
}
.card
.card ul,
li {
  list-style-type: none;
  text-align: center;
  margin: 15px;
  padding-bottom: 4px;
}
.card ul,
li:last-child {
  border: none;
  text-decoration: none;
}